<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.struggle.common.base.mapper.UserMajorMapper">

    <!-- 关联查询sql -->
    <sql id="selectSql">
        FROM t_user_major a
        join t_major m on m.major_id = a.major_id and m.deleted=0
        <where>
            <if test="param.id != null">
                AND a.id = #{param.id}
            </if>
            <if test="param.userId != null">
                AND a.user_id = #{param.userId}
            </if>
            <if test="param.majorId != null">
                AND a.major_id = #{param.majorId}
            </if>
            <if test="param.majorYear != null">
                AND m.major_year =  #{param.majorYear}
            </if>
            <if test="param.majorYears != null and param.majorYears.size()>0">
                AND m.major_year in
                <foreach collection="param.majorYears" open="(" close=")" separator="," item="majorYear">
                    #{majorYear}
                </foreach>
            </if>
            <if test="param.academicYear != null">
                AND (#{param.academicYear} >= m.major_year and (m.major_year+CEILING(m.major_length)-1)>=#{param.academicYear})
            </if>
            <if test="param.orgId != null">
                AND a.org_id = #{param.orgId}
            </if>
            <if test="param.userNumber != null">
                AND a.user_number LIKE CONCAT('%', #{param.userNumber}, '%')
            </if>
            <if test="param.userPicture != null">
                AND a.user_picture LIKE CONCAT('%', #{param.userPicture}, '%')
            </if>
            <if test="param.deleted != null">
                AND a.deleted = #{param.deleted}
            </if>
            <if test="param.deleted == null">
                AND a.deleted = 0
            </if>
            <!--租户内部数据权限 -->
            <if test="param.orgIds != null and param.orgIds.size()>0">
                AND a.org_id in
                <foreach collection="param.orgIds" open="(" close=")" separator="," item="orgId">
                    #{orgId}
                </foreach>
            </if>
            <if test="param.createTimeStart != null">
                AND a.create_time &gt;= #{param.createTimeStart}
            </if>
            <if test="param.createTimeEnd != null">
                AND a.create_time &lt;= #{param.createTimeEnd}
            </if>
            <!--根据majorIds查询专业ids -->
            <if test="param.majorIds != null and param.majorIds.size()>0">
                AND a.major_id in
                <foreach collection="param.majorIds" open="(" close=")" separator="," item="majorId">
                    #{majorId}
                </foreach>
            </if>
            <!--根据userIds查询用户ids -->
            <if test="param.userIds != null and param.userIds.size()>0">
                AND a.user_id in
                <foreach collection="param.userIds" open="(" close=")" separator="," item="userId">
                    #{userId}
                </foreach>
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.struggle.common.base.entity.UserMajor">
        SELECT a.*,m.major_year
         <include refid="selectSql"></include>
    </select>

    <!-- 查询全部 -->
    <select id="selectListRel" resultType="com.struggle.common.base.entity.UserMajor">
        SELECT a.*,m.major_year
        <include refid="selectSql"></include>
    </select>
    <!-- 查询count -->
    <select id="selectCountRel" resultType="java.util.Map">
        SELECT a.org_id,m.major_year,count(1) num
        <include refid="selectSql"></include>
        group by a.org_id,m.major_year
    </select>

</mapper>
