<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.struggle.common.system.mapper.GroupMapper">

    <!-- 关联查询sql -->
    <sql id="selectSql">
        SELECT a.* FROM sys_group a
        <where>
            AND a.deleted = 0
            <if test="param.groupId != null">
                AND a.group_id = #{param.groupId}
            </if>
            <if test="param.parentId != null">
                AND a.parent_id = #{param.parentId}
            </if>
            <if test="param.groupCode != null">
                AND a.group_code LIKE CONCAT('%', #{param.groupCode}, '%')
            </if>
            <if test="param.groupName != null">
                AND a.group_name LIKE CONCAT('%', #{param.groupName}, '%')
            </if>
            <if test="param.comments != null">
                AND a.comments LIKE CONCAT('%', #{param.comments}, '%')
            </if>
            <if test="param.createTimeStart != null">
                AND a.create_time &gt;= #{param.createTimeStart}
            </if>
            <if test="param.createTimeEnd != null">
                AND a.create_time &lt;= #{param.createTimeEnd}
            </if>
            <!--租户数据权限 -->
            <if test="tenantIds != null and tenantIds.size()>0">
                AND a.tenant_id in
                <foreach collection="tenantIds" open="(" close=")" separator="," item="tenantId">
                    #{tenantId}
                </foreach>
            </if>
            <if test="tenantId != null">
                AND a.tenant_id  = #{tenantId}
            </if>
        </where>
    </sql>

    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.struggle.common.system.entity.Group">
        <include refid="selectSql"></include>
    </select>

    <!-- 查询全部 -->
    <select id="selectListRel" resultType="com.struggle.common.system.entity.Group">
        <include refid="selectSql"></include>
    </select>

</mapper>
