<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.struggle.common.system.mapper.SysSystemAnnouncementReceiveMapper">
    <!-- 用户分页查询 -->
    <select id="pageRel" resultType="com.struggle.common.system.entity.SysSystemAnnouncement">
            select  m.*,if(rea.id,1,0) as has_read from (
            SELECT distinct b.system_announcement_id,b.title,b.top_timestamp,b.create_time
            <if  test="param.detail">
                ,b.content_text,b.system_announcement_picture,b.system_announcement_type
            </if>
            FROM sys_system_announcement_receive a join sys_system_announcement b on b.deleted=0 and a.system_announcement_id = b.system_announcement_id
            <where>
                a.deleted = 0
                <if test="param.title != null">
                    AND b.title LIKE CONCAT('%', #{param.title}, '%')
                </if>
                <if test="param.systemAnnouncementType != null">
                    AND b.system_announcement_type = #{param.systemAnnouncementType}
                </if>
                and (
                (a.receive_type='1' and (a.add_newly = 1 or( a.add_newly = 0 and a.create_time > #{param.userCreateTime})))
                or(a.receive_type='4' and a.receive_id = #{param.userId} )
                or(a.receive_type='3' AND a.receive_id in (SELECT distinct sr.system_default from sys_user_role ro join sys_role sr on ro.role_id = sr.role_id WHERE ro.user_id = #{param.userId} and (a.add_newly =1 or (a.add_newly=0 and a.create_time >= ro.create_time))))
                or(a.receive_type ='2' and a.receive_id in(SELECT distinct t.tenant_id from sys_user_tenant t WHERE t.user_id = #{param.userId} and (a.add_newly =1 or (a.add_newly=0 and a.create_time >= t.create_time))))
                )
            </where>
        ) m left join sys_system_announcement_read rea on rea.deleted=0 and rea.user_id = #{param.userId} and  m.system_announcement_id = rea.system_announcement_id
       <if test="param.hasRead != null">
           where if(rea.id,1,0) = #{param.hasRead}
       </if>
        order by m.top_timestamp desc,m.create_time desc
    </select>

    <!-- 用户查询详情 -->
    <select id="get" resultType="com.struggle.common.system.entity.SysSystemAnnouncement">
        SELECT distinct b.*
        FROM sys_system_announcement_receive a join sys_system_announcement b on b.deleted = 0 and a.system_announcement_id = b.system_announcement_id
        <where>
            a.deleted = 0
            <if test="param.systemAnnouncementId != null">
                AND a.system_announcement_id = #{param.systemAnnouncementId}
            </if>
            and (
            (a.receive_type='1' and (a.add_newly = 1 or( a.add_newly = 0 and a.create_time > #{param.userCreateTime})))
            or(a.receive_type='4' and a.receive_id = #{param.userId} )
            or(a.receive_type='3' AND a.receive_id in (SELECT distinct sr.system_default from sys_user_role ro join sys_role sr on ro.role_id = sr.role_id WHERE ro.user_id = #{param.userId} and (a.add_newly =1 or (a.add_newly=0 and a.create_time >= ro.create_time))))
            or(a.receive_type ='2' and a.receive_id in(SELECT distinct t.tenant_id from sys_user_tenant t WHERE t.user_id = #{param.userId} and (a.add_newly =1 or (a.add_newly=0 and a.create_time >= t.create_time))))
            )
        </where>
    </select>
</mapper>