<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.struggle.common.system.mapper.SysSystemMessageReadMapper">

    <!-- 分页查询 -->
    <select id="selectPageRel" resultType="com.struggle.common.system.entity.SysSystemMessageRead">
        SELECT a.*,rea.id,rea.create_time from (
        SELECT DISTINCT su.user_id,su.username,su.realname,r.system_message_id from sys_system_message_receive r,sys_user su
        WHERE r.deleted=0 and su.deleted=0
            and (
                (r.receive_type ='1' and (r.add_newly =1 or (r.add_newly=0 and r.create_time >= su.create_time)))
                or (r.receive_type ='4' and su.user_id = r.receive_id )
                or (r.receive_type ='2' and su.user_id in(SELECT distinct t.user_id from sys_user_tenant t WHERE t.tenant_id = r.receive_id and (r.add_newly =1 or (r.add_newly=0 and r.create_time >= t.create_time))))
                or (r.receive_type ='3' and su.user_id in(SELECT distinct ro.user_id from sys_user_role ro join sys_role sr on ro.role_id = sr.role_id WHERE sr.system_default = r.receive_id and (r.add_newly =1 or (r.add_newly=0 and r.create_time >= ro.create_time))))
                )
        ) a
        left join sys_system_message_read rea on rea.deleted=0 and rea.system_message_id = a.system_message_id and  rea.user_id = a.user_id
        <where>
            <if test="param.systemMessageId != null">
                AND a.system_message_id = #{param.systemMessageId}
            </if>
            <if test="param.userId != null">
                AND a.user_id = #{param.userId}
            </if>
            <if test="param.username != null">
                AND a.username = #{param.username}
            </if>
            <if test="param.realname != null">
                AND a.realname = #{param.realname}
            </if>
            <if test="param.hasRead != null">
                AND if(rea.id,1,0) =  #{param.hasRead}
            </if>
        </where>
    </select>

    <select id="_selectCount" resultType="java.util.Map">
        SELECT a.system_message_id systemMessageId,count(1) num from (
        SELECT DISTINCT su.user_id,r.system_message_id from sys_system_message_receive r,sys_user su
        WHERE r.deleted=0 and su.deleted=0
            and (
                (r.receive_type ='1' and (r.add_newly =1 or (r.add_newly=0 and r.create_time >= su.create_time)))
                or (r.receive_type ='4' and su.user_id = r.receive_id )
                or (r.receive_type ='2' and su.user_id in(SELECT distinct t.user_id from sys_user_tenant t WHERE t.tenant_id = r.receive_id and (r.add_newly =1 or (r.add_newly=0 and r.create_time >= t.create_time))))
                or (r.receive_type ='3' and su.user_id in(SELECT distinct ro.user_id from sys_user_role ro join sys_role sr on ro.role_id = sr.role_id WHERE sr.system_default = r.receive_id and (r.add_newly =1 or (r.add_newly=0 and r.create_time >= ro.create_time))))
                )
        ) a
        <if test="param.hasRead != null">
        left join sys_system_message_read rea on rea.deleted=0 and rea.system_message_id = a.system_message_id and  rea.user_id = a.user_id
        </if>
        <where>
            <if test="param.systemMessageId != null">
                AND a.system_message_id = #{param.systemMessageId}
            </if>

            <if test="param.systemMessageIds != null and param.systemMessageIds.size()>0">
                AND a.system_message_id in
                <foreach collection="param.systemMessageIds" open="(" close=")" separator="," item="systemMessageId">
                    #{systemMessageId}
                </foreach>
            </if>

            <if test="param.userId != null">
                AND a.user_id = #{param.userId}
            </if>
            <if test="param.hasRead != null">
                AND if(rea.id,1,0) =  #{param.hasRead}
            </if>
        </where>
        group by a.system_message_id
    </select>
</mapper>