<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.struggle.common.system.mapper.UserGroupMapper">

    <insert id="insertBatch">
        INSERT INTO sys_user_group(user_id, group_id) VALUES
        <foreach collection="groupIds" item="groupId" separator=",">
            (#{userId}, #{groupId})
        </foreach>
    </insert>

    <select id="selectByUserId" resultType="com.struggle.common.system.entity.Group">
        SELECT a.user_id, b.group_id,b.parent_id,b.group_code,b.group_name
        FROM sys_user_group a
        LEFT JOIN sys_group b ON a.group_id = b.group_id
        WHERE a.user_id = #{userId} AND b.deleted = 0
    </select>

    <select id="selectByUserIds" resultType="com.struggle.common.system.entity.Group">
        SELECT a.user_id, b.group_id,b.parent_id,b.group_code,b.group_name
        FROM sys_user_group a
        LEFT JOIN sys_group b ON a.group_id = b.group_id
        WHERE a.user_id IN
        <foreach collection="userIds" open="(" close=")" separator="," item="userId">
            #{userId}
        </foreach>
        AND b.deleted = 0
    </select>

</mapper>
